@font-face {
  font-family: 'gen';
  src: url('assets/gan/ganclm_bold-webfont.ttf') format('truetype'),
        url('assets/gan/ganclm_bold-webfont.woff') format('woff');
}

body {
  font-family: 'gen';
  line-height: 1.5;
  font-weight: 400;
  background-color: #656d4a;
  direction: rtl;

  color-scheme: light dark;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}